<div class="large-12 columns">
  <%= form_tag dogs_path, :method => :get do %>

Gender:
<br />
<% @all_genders.each do |gender| %>
<%= check_box_tag "gender[#{gender}]", 1, @selected_genders.include?(gender) %>
<%= gender %> 
<% end %>
<br />

Personality:
<br />
<% @all_personalities.each do |p| %>
<%= check_box_tag "personality[#{p}]", 1, @selected_personalities.include?(p) %>
<%= p %> 
<% end %>
<br />

Mix:
<%= select_tag 'mix_id', options_for_select(@all_mixes, @mix) %>
<br />

Size:
<br />
<% @all_sizes.each do |s| %>
<%= check_box_tag "size[#{s}]", 1, @selected_sizes.include?(s) %>
<%= s %> 
<% end %>
<br />

Likes:
<br />
<% @all_likes.each do |l| %>
<%= check_box_tag "like[#{l}]", 1, @selected_likes.include?(l) %>
<%= l %> 
<% end %>
<br />

Energy Level:
<br />
<% @all_energies.each do |e| %>
<%= check_box_tag "energy[#{e}]", 1, @selected_energies.include?(e) %>
<%= e %> 
<% end %>
<br />

Age:
<br />
<% 4.times do |i| %>
<%= check_box_tag "age[#{i}]", 1, @selected_ranges.include?(i.to_s) %>
<%= @age_ranges[i]  %> 
<% end %>
<br />

<%= submit_tag 'Search Dogs', :id => 'dog_search_submit' %>
<% end %>
<br/>
<div class="large-7 columns">
  <div class="ui segment" id="dog_search_results">
  <% if @no_dogs %>
    <h1> No Dogs Found </h1>
  <% end %>
  <% @dogs.each do |dog| %>
  <div class="ui vertical segment">

    <div class="large-3 columns">
      <span class="image">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTq-JrbDxIqJCQm0mds0iyAamCDFYdNr1h3_r6Ekt7SNsWMboFE" style="height:100%; width:100%">
      </span>
    </div>

    <div class="large-9 columns">
      <div class="content">
        <a class="header"><%= dog.name %></a>
        <div class="meta">
          <span class="date">Alaska</span>
        </div>
        <div class="description">
          <%= dog.motto %> 
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="wait icon"></i>
          <%= dog.availability %>
        </a>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>
<div class="large-5 columns" id="map">
  <div class="ui sticky">
    <img src="http://www.digicution.com/wp-content/uploads/2012/06/HTML5-Repsonsive-Google-Maps-Tutorial-1.png" style="height:100%; width:100%">
  </div>
</div>
</div>
<script>
$(document).ready(function(){
  $('.ui.sticky')
  .sticky({
    offset: 50,
    context: '#dog_search_results'
  });
});
</script>
