<script src="<%= javascript_path('galleria-1.4.2.js') %>"></script>
<% if flash[:notice] %>
         <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="ui success message">
  <div class="content">
    <div class="header"><%= "Hi, I'm  #{@dog.name}!" %></div>
  </div>
</div>

<p>
  <% if not @current_user.nil? and @dog.user_id == @current_user.id %>
    <%= button_to "Edit", edit_dog_path(@dog.id), :id => "edit_dog_button", :class => "ui inverted green button", :method => :get %>
  <% end %>
</p>
<% if not current_user.nil? %>
  <div class="stars">
  <%- unless current_user.starred_dogs.exists?(id: @dog.id) -%>
  <%= link_to starred_dogs_path(dog_id: @dog), method: :post, id: "star_#{@dog.id}" do%>
  <i class="empty icon yellow large"><%= @dog.stars.count %></i><i class="empty star icon yellow large"></i>
  <%end%>
  <%- else -%>
  <%= link_to starred_dogs_path(dog_id: @dog), method: :delete, id: "star_#{@dog.id}"  do%>
  <i class="icon yellow large"><%= @dog.stars.count %></i><i class="star icon yellow large"></i>
  <%end%>
  <%- end -%>
  </div>
<%end%>

<div class = "large-7 columns">
  <div id="user_info">
    <!-- insert image tag here -->
    <div id="ui-segment"></div>
  </div>

  <div id="name"><h1 style = "color: teal;"><%= @dog.name %></h1></div>
  <p> </p>
  <div id="photo"><h4 class = "ui teal label"><%= image_tag @dog.photo.url(:small) %></div>
  <p> </p>

  <div class="galleria">
    <% unless @pictures.empty? %>
      <% @pictures.each do |pic| %>
        <%= image_tag pic.image.url %>               
      <% end %>
    <% end %>
  </div>
  <script>
    Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
    Galleria.run('.galleria' , { height: 0.6,  } );
  </script>
  <p> </p>


  <div id="motto"><h4 class = "ui teal label">Motto:</h4>&nbsp;&nbsp;<%= @dog.motto %></div>
  <p> </p>
  <div id="gender"><h4 class = "ui teal label">Gender:</h4>&nbsp;&nbsp;<%= @dog.gender %></div>
  <p> </p>
  <div id="mix"><h4 class = "ui teal label">Mix:</h4>&nbsp;&nbsp;<%= @dog.readable_mixes.join(', ') %></div>
  <p> </p>
  <div id="birthday"><h4 class = "ui teal label">Age:</h4>&nbsp;&nbsp;<%= @dog.age %></div>
  <p> </p>
  <div id="size"><h4 class = "ui teal label">Size:</h4>&nbsp;&nbsp;<%= @dog.size %></div>
  <p> </p>
  <div id="energy"><h4 class = "ui teal label">Energy Level:</h4>&nbsp;&nbsp;<%= @dog.energy_level %></div>
  <p> </p>
  <div id="personality"><h4 class = "ui teal label">Personality:</h4>&nbsp;&nbsp;<%= @dog.readable_personalities.join(', ') %></div>
  <p> </p>
  <div id="description"><h4 class = "ui teal label">Health Notes:</h4>&nbsp;&nbsp;<%= @dog.health %></div>
  <p> </p>
  <div id="fixed"><h4 class = "ui teal label">Fixed:</h4>&nbsp;&nbsp;<%= @dog.fixed %></div>
  <p> </p>
  <div id="likes"><h4 class = "ui teal label">Likes:</h4>&nbsp;&nbsp;<%= @dog.readable_likes.join(', ') %></div>
  <p> </p>


  <div id="dog_description">
    <div id="description">
      <h4 class = "ui teal label">Description:</h4>&nbsp;&nbsp;<%= @dog.description %>
    </div>
  </div>

  <p> </p>
  <div id="availability"><h4 class = "ui teal label">Availability:</h4>&nbsp;&nbsp;<%= @dog.availability %></div>
  <p> </p>
  <% if not @dog.video.nil? and not @dog.video == "" %>
  <div id="video"><h4 class = "ui teal label">Video:</h4><br/><div class="ui video" data-source="youtube" data-id="<%= @dog.youtube_id %>" ></div></div>
  <% end %>

  <div id="parent">
    <h4 class = "ui teal label">Parent:</h4>&nbsp;&nbsp;<%= link_to @parent.first_name, user_path(@parent.id) %>
    <img class = "ui small circular image" style="display: inline" src=<%= @parent.image %>>

  </div>
</div>

<div class="large-5 columns">
  <div class="row">
    <h4 class = "ui teal label"><%= @dog.name %>'s Events:</h4>
  </div>
  <div class="ui segment">
    <% if @dog.future_events? == false || @dog.events.count == 0 %>
      <h1> No Events Found </h1>
    <% end %>
    <% @dog.future_events.each do |event| %>
    <div class="ui vertical segment">
      <div class="large-9 columns">
        <strong>  
          <% if event.start_date == event.end_date %>
            <%= event.start_date.strftime('%v') %>
          <% else %>
            <%= event.start_date.strftime('%v') %> to <%= event.end_date.strftime('%v') %>
          <% end %>
        </strong>
      </div>
      <div class="large-3 columns">
        <%= link_to "Edit", edit_event_path(event.id) %></p>
      </div>
      <!-- <div class="large-8 columns"> -->
        <div class="large-12 columns content">
          <p>Time: <%= event.time_of_day.gsub(/[^0-9a-z ]/i,'') %></p>
          <p><%= event.description %></p>
        </div>
      <!-- </div> -->
    </div>
    <% end %>
  </div>
</div>






<script>
$(document).ready(function(){
  $('.ui.video').video();
});
</script>
