<% if flash[:notice] %>
         <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="ui success message">
  <div class="content">
    <div class="header"><%= "Hi, I'm  #{@dog.name}!" %></div>
  </div>
</div>

<p>
  <%= button_to "Edit", edit_dog_path(@dog.id), :id => "edit_dog_button", :class => "ui inverted green button", :method => :get %>
</p>

<div class = "small-8 columns">
  <div id="user_info">
    <!-- insert image tag here -->
  <div id="ui-segment">
  </div>
</div>

  <div id="name"><h1 style = "color: teal;"><%= @dog.name %></h1></div>
  <p> </p>
  <div id="motto"><h4 class = "ui teal label">Motto:</h4>&nbsp;&nbsp;<%= @dog.motto %></div>
  <p> </p>
  <div id="gender"><h4 class = "ui teal label">Gender:</h4>&nbsp;&nbsp;<%= @dog.gender %></div>
  <p> </p>
  <div id="mix"><h4 class = "ui teal label">Mix:</h4>&nbsp;&nbsp;<%= @dog.readable_mixes.join(', ') %></div>
  <p> </p>
  <div id="birthday"><h4 class = "ui teal label">Age:</h4>&nbsp;&nbsp;<%= @dog.age %></div>
  <p> </p>
  <div id="size"><h4 class = "ui teal label">Size:</h4>&nbsp;&nbsp;<%= @dog.size %></div>
  <p> </p>
  <div id="energy"><h4 class = "ui teal label">Energy Level:</h4>&nbsp;&nbsp;<%= @dog.energy_level %></div>
  <p> </p>
  <div id="personality"><h4 class = "ui teal label">Personality:</h4>&nbsp;&nbsp;<%= @dog.readable_personalities.join(', ') %></div>
  <p> </p>
  <div id="description"><h4 class = "ui teal label">Health Notes:</h4>&nbsp;&nbsp;<%= @dog.health %></div>
  <p> </p>
  <div id="fixed"><h4 class = "ui teal label">Fixed:</h4>&nbsp;&nbsp;<%= @dog.fixed %></div>
  <p> </p>
  <div id="likes"><h4 class = "ui teal label">Likes:</h4>&nbsp;&nbsp;<%= @dog.readable_likes.join(', ') %></div>
  <p> </p>


  <div id="dog_description">
    <div id="description">
      <h4 class = "ui teal label">Description:</h4>&nbsp;&nbsp;<%= @dog.description %>
    </div>
  </div>

  <p> </p>
  <div id="availability"><h4 class = "ui teal label">Availability:</h4>&nbsp;&nbsp;<%= @dog.availability %></div>
  <p> </p>


</div>