
<h2>Create an Account With Facebook</h2>
<div><div> <div id="picture" class="required"><img src=<%="#{params[:user_info][:info][:image]}"%>></div></div></div>
<div><div > <h4>First Name:</h4> <span id="first_name" class="required"><%= "#{params[:user_info][:info][:first_name]}"%></div></span></div>
<div><div> <h4> Last Name: </h4> <div id="last_name" class="required"><%= "#{params[:user_info][:info][:last_name]}"%></div></div></div>
<div><div> <h4> Email: </h4> <div id="email" class="required"><%= "#{params[:user_info][:info][:email]}"%></div></div></div>

<%= form_tag(controller: "users", action: "create", method: "post") do %>
        <%= hidden_field(:user, :uid, :value => params[:user_info][:uid]) %>
        <%= hidden_field(:user, :first_name, :value => params[:user_info][:info][:first_name]) %>
        <%= hidden_field(:user, :last_name, :value => params[:user_info][:info][:last_name]) %>
        <%= hidden_field(:user, :email, :value => params[:user_info][:info][:email]) %>
        <%= hidden_field(:user, :image, :value => params[:user_info][:info][:image]) %>
        <%= hidden_field(:user, :gender, :value => params[:user_info][:info][:gender]) %>
        <%= hidden_field(:credentials, :token, :value => params[:user_info][:credentials][:token]) %>
        <%= hidden_field(:credentials, :expires_at, :value => params[:user_info][:credentials][:expires_at]) %>
	
	<h4>Location</h4> <%= text_field(:user, :location) %>
	<h4>Phone Number</h4> <%= telephone_field(:user, :phone_number) %>

	<h4>Status</h4><%= select(:user, :status, ["Looking", "Sharing"]) %>


	<h4>Description</h4> <%= text_field(:user,:description) %>
	<h4>Availability</h4> <%= text_field(:user,:availability) %>
	<p><input id='create_user_button' type="submit" value="Create Account" name="create_user_button" class='btn info' /></p>
	<p><input id='cancel_user_button' type="submit" value="Cancel" name="cancel_user_button" class='btn info' /></p>
<% end %>
