<!DOCTYPE html>
<html>
<head>
<h2>Create an Account With Facebook</h2>
<div><div> <div id="picture" class="required"><img src=<%="#{session[:user_info][:image]}"%>></div></div></div>
<div><div > <h4>First Name:</h4> <span id="first_name" class="required"><%= "#{session[:user_info][:first_name]}"%></div></span></div>
<div><div> <h4> Last Name: </h4> <div id="last_name" class="required"><%= "#{session[:user_info][:last_name]}"%></div></div></div>
<div><div> <h4> Email: </h4> <div id="email" class="required"><%= "#{session[:user_info][:email]}"%></div></div></div>

<%= form_tag(controller: "users", action: "create", method: "post") do %>
	<%= radio_button(:user, :gender, "Male", checked: false) %>
	<%= label_tag(:gender_male, "Male") %>
	<%= radio_button(:user, :gender, "Female", checked: false) %>
	<%= label_tag(:gender_female, "Female") %>

	
	<h4>Location</h4> <%= text_field(:user, :location) %>
	<h4>Phone Number</h4> <%= telephone_field(:user, :phone_number) %>

	<h4>Status</h4><%= select(:user, :status, ["Looking", "Sharing"]) %>


	<h4>Description</h4> <%= text_field(:user,:description) %>
	<h4>Availability</h4> <%= text_field(:user,:availability) %>
	<p><input id='create_user_button' type="submit" value="Submit" name="create_user_button" class='btn info' /></p>
<% end %>
</body>
</html>