<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i><%= flash[:notice] %></div>
<% end %>

<% if @own_profile %>
<div class="ui success message">
  <div class="content">
<div class="header"><%= "Welcome #{@user.first_name}!" %></div>
<p>
  <%= button_to "Edit", edit_user_path(@user.id), :id => "edit_user_button", :class => "ui inverted green button", :method => :get %>
</p>
  </div>
</div>
<% end %>
 <div class = "ui blue inverted top attached segment" style = "overflow:hidden">

<div class="small-12 columns">
<div class = "small-2 columns">
  <div id="user_info">
  <div id="ui-segment">
    <img class = "ui small centered image" src=<%= @user.image %>>
  </div>
  </div>
</div>
  <div class = "small-10 columns" id="name"><h1><%= @user.full_name %></h1></div>
</div>
<br />
         </div>
<div class = "ui bottom attached segment">


<div class = "small-6 columns">

  <div id="gender"><strong>Gender:</strong>&nbsp;&nbsp;<%= @user.gender %></div>

  <% if @user.address != nil && @user.address != ""%>
  <div id="location"><h4 class = "ui  label">Location:</h4>&nbsp;&nbsp;<%= "#{@user.address}, #{@user.city}, #{@user.zipcode}, #{@user.country}" %></div>
  <%else%>
    <div id="location"><strong>Location:</strong>&nbsp;&nbsp;<%= "" %></div>
  <%end%>

  <div id="zipcode"><strong>Zipcode:</strong>&nbsp;&nbsp;<%= @user.zipcode %></div>

  <div id="status"><strong>Status:</strong>&nbsp;&nbsp;<%= @user.status %></div>

  <div id="email"><strong>Email:</strong>&nbsp;&nbsp;<%= @user.email %></div>

  <div id="phone_number"><strong>Phone Number:</strong>&nbsp;&nbsp;<%= @user.phone_number %></div>


  <div id="user_description">
    <div id="description">
      <strong>Description:</strong>&nbsp;&nbsp;<%= @user.description %>
    </div>
  </div>


  <div id="availability"><strong>Availability:</strong>&nbsp;&nbsp;<%= @user.availability %></div>

</div>

<div class="large-6 columns">
  <div class="row">
    <strong><%= @user.first_name %>'s Dogs:
   </strong>

  </div>

  <div class="ui segment" id="dog-name-link">
  <!--<% if @no_dogs %>
    <h1> No Dogs Found </h1>
  <% end %>-->
  <% @user.dogs.each do |dog| %>
  <div class="ui vertical segment">

    <div class="large-4 columns">
      <span class="image">
        <h4 class = "ui teal label">
        <% if dog.photo.file? %>
          <%= image_tag dog.photo.url(:small) %>
        <% else %>
          <%= image_tag "default_dog.jpg" %>
        <% end %>
      </span>
    </div>

    <div class="large-8 columns">
      <div class="content">
        <div class="ui medium header">
          <%= link_to dog.name, dog_path(dog.id), :method => :get %>
        </div>
        <div class="description">
          <%= dog.motto %>
        </div>
      </div>

    </div>

    <div>
                  <br /> <br />
      <% if @own_profile %>

        <%= button_to "Add Dog", new_dog_path(), :id => "add_dog_button", :class => "ui primary button", :method => :get %>
      <% end %>
    </div>
  </div>
</div>
  <% end %>


  </div>
<br />
</div>




