<% if flash[:notice] %>
<div class="ui warning message"><i class="warning icon"></i><%= flash[:notice] %></div>
<% end %>


<div class="large-12 columns">
  <br />
  <div class="large-7 columns" id ="user_info">
    <div class="ui blue inverted top attached segment" style="overflow:hidden">
      <div id="name">
        <h1><%= image_tag @user.image, :class => "ui middle aligned small image", :id => "ui-segment" %>&nbsp; <%= @user.full_name %></h1>
      </div>
    </div>

<div class="ui bottom attached segment">



  <% if not @user.description.nil? and not @user.description == ""  %>
  <div id="user_description">
    <div id="description">
      <p>
        <em><%= @user.description %></em>
      </p>
    </div>
  </div>
  <%end%>


<br />

  <div id="gender"><strong>Gender:</strong>&nbsp;&nbsp;<%= @user.gender %></div>

  <% if @user.address != nil && @user.address != ""%>
  <div id="location"><strong>Location:</strong>&nbsp;&nbsp;<%= "#{@user.address}, #{@user.city}, #{@user.zipcode}, #{@user.country}" %></div>
  <%end%>

  <% if not @user.zipcode.nil? and not @user.zipcode == ""  %>
  <div id="zipcode"><strong>Zipcode:</strong>&nbsp;&nbsp;<%= @user.zipcode %></div>
  <%end%>

  <div id="status"><strong>Status:</strong>&nbsp;&nbsp;<%= @user.status %></div>

<br />

  <% if current_user %>
    <p id="email">
      <i class="mail icon"></i> <%= @user.email %>
    </p>
  <!-- <div id="email"><strong>Email:</strong>&nbsp;&nbsp;<%= @user.email %></div> -->

  <% if not @user.phone_number.nil? and not @user.phone_number == ""  %>
    <p id="phone_number">
      <i class="call icon"></i> <%= @user.phone_number %>
    </p>
  <!-- <div id="phone_number"><strong>Phone Number:</strong>&nbsp;&nbsp;<%= @user.phone_number %></div> -->
  <%end%>

  <%else%>

  <p id="email"><i class="mail icon"></i> You must <%= link_to "log in", "/auth/facebook/?type=login", id: 'log_in' %> to view!</p>

  <% if not @user.phone_number.nil? and not @user.phone_number == ""  %>
  <p id="phone_number"><i class="call icon"></i> You must <%= link_to "log in", "/auth/facebook/?type=login", id: 'log_in' %> to view!</p>
  <%end%>

  <%end%>

  <% if not @user.availability.nil? and not @user.availability == ""  %>
    <p id="availability">
      <i class="wait icon"></i> <%= @user.availability %>
    </p>
  <%end%>

</div></div>

<div class="large-5 columns">    
   <div class="ui blue inverted top attached segment" style="overflow:hidden">
    <strong><%= @user.first_name %>'s Dogs:
   </strong>
  </div>

  <div class="ui bottom attached segment" id="dog-name-link">
  <!--<% if @no_dogs %>
    <h1> No Dogs Found </h1>
  <% end %>-->
  <% @user.dogs.each do |dog| %>
  <div class="ui vertical segment">

    <div class="large-4 columns">
      <span class="image">

        <% if dog.photo.file? %>
          <%= image_tag dog.photo.url(:small) %>
        <% else %>
          <%= image_tag "default_dog.jpg" %>
        <% end %>
      </span>
    </div>

    <div class="large-8 columns">
      <div class="content">
        <div class="ui medium header">
          <%= link_to dog.name, dog_path(dog.id), :method => :get %>
        </div>
        <div class="description">
          <%= dog.motto %>
        </div>
      </div>

    </div>

    <div>
                  <br /> <br />
    </div>
</div>
  <% end %>


  </div>
  <% if @own_profile %>
        <div class="float right">
        <%= button_to "Add Dog", new_dog_path(), :id => "add_dog_button", :class => "ui primary button", :method => :get %>
 

  </div>
  <% end %>
  <% if @own_profile %>
        <div class="float right">
        
        <%= button_to "Edit Profile", edit_user_path(@user.id), :id => "edit_user_button", :class => "ui primary button", :method => :get %>
      </div>
      <% end %>
<br />

</div>

</div>

</div>



