<% if flash[:notice] %>
         <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="ui success message">
  <div class="content">
<div class="header"><%= "Welcome #{@current_user.first_name}!" %></div>
<p>
  <%= button_to "Edit", edit_user_path(@current_user.id), :id => "edit_user_button", :class => "ui inverted green button", :method => :get %>
</p>
  </div>
</div>

<div class = "small-4 columns">
  <div id="user_info">
  <div id="ui-segment">
    <img class = "ui medium circular centered image" src=<%= @current_user.image %>></div>
  </div>
</div>

<div class = "small-8 columns">
  <div id="name"><h1 style = "color: teal;"><%= @current_user.full_name %></h1></div>
  <p> </p>
  <div id="gender"><h4 class = "ui teal label">Gender:</h4>&nbsp;&nbsp;<%= @current_user.gender %></div>
  <p> </p>
  <div id="location"><h4 class = "ui teal label">Location:</h4>&nbsp;&nbsp;<%= @current_user.location %></div>
  <p> </p>
  <div id="status"><h4 class = "ui teal label">Status:</h4>&nbsp;&nbsp;<%= @current_user.status %></div>
  <p> </p>
  <div id="email"><h4 class = "ui teal label">Email:</h4>&nbsp;&nbsp;<%= @current_user.email %></div>
  <p> </p>
  <div id="phone_number"><h4 class = "ui teal label">Phone Number:</h4>&nbsp;&nbsp;<%= @current_user.phone_number %></div>
  <p> </p>

  <div id="user_description">
    <div id="description">
      <h4 class = "ui teal label">Description:</h4>&nbsp;&nbsp;<%= @current_user.description %>
    </div>
  </div>
  
  <p> </p>
  <div id="availability"><h4 class = "ui teal label">Availability:</h4>&nbsp;&nbsp;<%= @current_user.availability %></div>
  <p> </p>
  <div id="dogs"><h4 class = "ui teal label">Dogs:</h4>&nbsp;&nbsp;
    <ul>
      <% @current_user.dogs.each do |dog| %>
        <li>
          <%#= image_tag dog.photo.url(:small) %>
          <%= link_to dog.name, dog_path(dog.id), :method => :get %>
        </li>
      <% end %>
    </ul>
  </div>
  <p> </p> <br />
  <%= button_to "Add Dog", new_dog_path(), :id => "add_dog_button", :class => "ui primary button", :method => :get %>
</div>



