<!DOCTYPE html>
<html>
<head>
  <title>City Dog Share</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#f7f7f7">


  <div class="row">
    <div class="large-12 columns">

    <!-- <div class="large-3 columns">
      <h1>City Dog Share</h1>
    </div> -->

    <p></p>


      <div class="large-7 columns">
        <img src="http://protectiondogss.com/images/dog.png" width="100%"/>
      </div>

      <div class="large-5 columns">
        <h1 class="ui center aligned teal header" style="font-size:70px">Here's <em>woofing</em> at you, kid!</h1>
        <div class="fluid ui large facebook button"><i class="facebook icon"></i><%= link_to "Sign Up With Facebook", "/auth/facebook/?type=signup", id: "sign_up"%></div>

          <div class="ui horizontal divider">
            Or
          </div>

        <h2 class="ui center aligned header"><%= link_to "Log In", "/auth/facebook/?type=login", id: "log_in" %></h2>

        <% if flash[:notice] %>
          <div class="ui warning message"><i class="warning icon"></i><%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>
  </div>
      
     
  <div class="row">
    <p></p>
    <div class="ui section divider"></div>

        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
      
  </div>
      
      <footer class="row">
        <div class="large-12 columns">
          <p></p>
          <div class="ui teal inverted segment">
            

          <div class="row">
            <div class="large-6 columns">
              <p>© City Dog Share 2015.</p>
            </div>
            <div class="large-6 columns">
              <div class="ui horizontal list">
                <div class="item"><a href="#">Link 1</a></div>
                <div class="item"><a href="#">Link 1</a></div>
                <div class="item"><a href="#">Link 1</a></div>
                <div class="item"><a href="#">Link 1</a></div>
              </div>
            </div>
          </div>


          </div>
        </div> 
      </footer>
    

</body>
</html>
