<!DOCTYPE html>
<html>
<head>
  <title>City Dog Share</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= link_to "Log In With Facebook", "/auth/facebook/?type=login", id: "log_in" %>
  <%= link_to "Sign Up With Facebook", "/auth/facebook/?type=signup", id: "sign_up" %>
</div>

</body>
</html>
