<!-- <link rel="stylesheet" type="text/css" href="../app/assets/stylesheet/jquery.datetimepicker.css"/ > -->
<!-- <script src="../app/assets/javascript/jquery.datetimepicker.js"></script> -->
<script>
  jQuery(function(){
   jQuery('#date_timepicker_start').datetimepicker({
    format:'Y/m/d',
    onShow:function( ct ){
     this.setOptions({
      minDate: 0,
      maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false,
      scrollMonth: false
     })
    },
    timepicker:false, 
    scrollInput: false
   });
   jQuery('#date_timepicker_end').datetimepicker({
    format:'Y/m/d',
    onShow:function( ct ){
     this.setOptions({
      minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false,
      scrollMonth: false
     })
    },
    timepicker:false,
    scrollInput: false
   });
  });
</script>

<p>

  <%= form_tag({controller: :events, action: @action}, method: @method, :multipart => true) do %>
  <div class="ui form">
    <% if @action == :create %>
    <div class="field"><label>Dog to Share</label>
      <div class="ui buttons">
        <% @form_filler.all_dogs.each do |dog| %>
          <div class="ui button">
            <% @form_filler.dogs.include?(dog) ? bool = true : bool = false %>
            <%= check_box_tag "dogs[#{dog}]", 1, bool, :class => "check" %>
            <%= label(:dogs, dog, dog) %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <div class="field">
      <label>Start</label>
      <%= text_field :date_timepicker, :start, :readonly => true, :value => @form_filler.start_date_string %>
    </div>

  <br />
    <div class="field">
      <label>End</label>
      <%= text_field :date_timepicker, :end, :readonly => true, :value => @form_filler.end_date_string %>
    </div>

  <br />

  <div class="field"><label>Time of day</label>
    <div class="ui buttons">
    <% @form_filler.times.each do |time| %> 
        <div class="ui button">
        <% @form_filler.values[:time_of_day].include?(time) ? bool = true : bool = false %>
        <%= check_box_tag "times[#{time}]", 1, bool, :class => "check" %>
        <%= label(:times, time, time) %>
        </div>
    <% end %>
    </div>
  </div>

  <br />

  <div class="field"><label>Where</label>
    <% @form_filler.places.each do |place| %>
      <%= radio_button_tag(:my_location, place , @form_filler.values[:my_location] == place ? checked = true : checked = false) %>
      <%= place %>
      <br />
    <% end %>
  </div>

  <br />

  <div class="field">
    <label>Description</label>
    <%= text_area_tag :description, @form_filler.values[:description] %>
  </div>

  <% end %>

  <div class="field">
    <div class="ui primary button transparent input"><input id='update_event_button' type="submit" value="Schedule" name="update_dog_button" class='btn info' /></div>


    <%= button_to "Cancel", root_path(:notice => ""), :id => "cancel_dog_button", :class => "ui button transparent input", :method => :get %>
    </div>
  </div>
</p>
