<% if flash[:notice] %> 
  <div class="ui warning message"><i class="warning icon"></i>
    <%= flash[:notice] %>
      <br>
  </div>
<% end %>


<style type="text/css">
  #calendar
  {
  width: 900px;
  margin: 0 auto;
  }
</style>

<div id='calendar'></div>

<p> </p>
<% if current_user.future_events? %>
  <div id = "dogevents"><h4>Future Events:</h4>
  <% for dog in @dogs do %>
    <% if dog.future_events? %>
      <h4 class = "ui ribbon label"> <%= dog.name %> </h4>
      <% for event in dog.future_events %>
        <% if event.start_date == event.end_date %>
          <p> Date: <%= event.start_date.strftime('%v') %>
        <% else %>
          <p> Date: <%= event.start_date.strftime('%v') %> to <%= event.end_date.strftime('%v') %>
        <% end %>
        <br />
        Time: <%= event.time_of_day.join(", ") %>
        <br />
        <%= link_to "Edit", edit_event_path(event.id) %></p>
      <%end%>
    <% end %>
  <%end%>
  </div>
<%end%>









