<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i>
    <%= flash[:notice] %>
      <br>
  </div>
<% end %>


<style type="text/css">
  #calendar
  {
  width: 900px;
  margin: 0 auto;
  }
</style>

<div id='calendar'></div>

<p> </p>
 <%= link_to "Add Event", new_event_path, :class => "ui primary button" %>
<p></p>

<% if current_user.future_events? %>
  <div id = "dogevents"><h4>Future Events:</h4>

  <% for dog in @dogs do %>
    <% if dog.future_events? %>
     <div class = "large-12 columns">
          <h3 class = "ui ribbon label"> <%= dog.name %> </h3>

  <% for event in dog.future_events %>
<p></p>
 <div class = "large-6 columns">
<div class = "ui blue inverted top attached segment" style = "overflow:hidden">

        <% if event.start_date == event.end_date %>
           <%= event.start_date.strftime('%v') %>
        <% else %>
           <%= event.start_date.strftime('%v') %> to <%= event.end_date.strftime('%v') %>
        <% end %>
       </div>
       <div class = "ui bottom attached segment">
        <p>
        Time: <%= event.time_of_day.join(", ") %>
        <br />
        Location: <%= event.my_location %>
        <br />
        Description: <%= event.description %>
        <br />
                <br />
        <%= link_to "Edit", edit_event_path(event.id) %></p>

      </div>
</div>
                <%end%>



    <% end %>
   </div>
  <%end%>
  </div>
</br>
</div>

<%end%>









